supabase
psycopg2-binary
python-dotenv
fastapi
uvicorn
websockets
pyjwt
redis
cryptography
scipy
numpy
fakeredis
pytest
httpx
pydantic-settings
email-validator
passlib[argon2]
python-multipart
sqlalchemy
asyncpg
alembic
geoalchemy2
shapely
python-jose[cryptography]
